@page "/"

<PageTitle>Home - Easy Prices</PageTitle>

<div class="d-flex justify-content-center align-items-center flex-column index-content-container">
    <h1 class="index-title">Easy Prices</h1>
    <h3 class="index-sub-heading-text">Find the best prices from your favourite websites</h3>
    <SearchBar />
</div>
