<div class="w-100 d-flex justify-content-between align-items-center">
    <div class="header-section-container">
        <img id="website-logo" src="/images/easy-prices-logo-black.png" alt="Easy Prices" width="34" height="34" />
    </div>
    <Link Id="header-link-home" Text="Home" Href="" />
    <div class="header-section-container">
        <Button Text="Login" Classes="button-index-inverted" Href="login" />
        <Button Text="Sign Up" Href="sign-up" />
    </div>
</div>

@code {
    // TODO:
    // I can probably delete this code block.
}
