<div class="product-item-container">
    <div class="product-item-image-container">
        <img src="#" class="product-item-suspense product-item-suspense-image" alt="&nbsp;" />
    </div>
    <div class="product-item-content-container">
        <div>
            <h2 class="product-item-fit-width product-item-suspense">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            </h2>
            <p class="product-item-paragraph product-item-fit-width product-item-suspense">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            </p>
        </div>
        <div>
            <h4 class="product-item-fit-width product-item-suspense">
                &nbsp; &nbsp; &nbsp;
            </h4>
            <div class="product-item-buy-now-add-to-cart-container product-item-fit-width product-item-suspense">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            </div>
        </div>
    </div>
</div>

@code {
    // TODO:
    // Might not need this code block.
}
