@inject NavigationManager UriHelper

<div class="search-bar-container">
    <input
        type="search"
        placeholder="Search Products"
        class="w-100 bg-transparent border-0 search-bar-input h5"
        @bind="@Product"
        @oninput="@((e) => { Product=(string)e.Value;})"
        @onkeypress="@((e) => OnKeyPress(e))"
    />
    <img src="images/search-icon.png" width="28" height="28" class="search-bar-icon" @onclick="SearchProduct" />
</div>

@code {
    private string Product { get; set; } = "";

    private void OnKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            SearchProduct();
        }
    }

    private void SearchProduct()
    {
        UriHelper.NavigateTo($"/products?product={Product}");
    }
}
